{% extends "index.html" %}

{% block content %}
<!--CUSTOMER-REPRESENTATIVE TRANSACTIONS SPECIFIED HERE-->
<div class="content">
<h1 style="text-align:center">Welcome Employee</h1>

<!--44.Create an Advertisement-->
   <form action="/advertisements" method=get>
       <dl >
           <dt><h3>Create new Advertisement</h3>
                <dd><button class="pure-button">Ads</button>

       </dl>
   </form>

<!--45.Delete an Advertisement-->
   <form action="#" method=post>
       <dl >
           <dt><h3>Delete an Advertisement</h3>
                <dd><button class="pure-button">Delete</button>

       </dl>
   </form>


<!--46.Record a transaction-->
   <form action="#" method=post>
       <dl >
           <dt><h3>Record Transaction</h3>
                <dd><button class="pure-button">Record Transaction</button>

       </dl>
   </form>

<!--47.Add,edit and delete info for a customer-->
   <form action="#" method=post>
       <dl >
           <dt><h3>Add Customer</h3>
                <dd><button class="pure-button">Add Customer</button>

       </dl>
   </form>

    <form action="#" method=post>
       <dl >
           <dt><h3>Remove Customer</h3>
                <dd><button class="pure-button">Remove Customer</button>

       </dl>
   </form>


<!--48.Produce customer mailing lists-->
   <form action="#" method=post>
       <dl >
           <dt><h3>Customer Mailing List</h3>
                <dd><button class="pure-button">Mailing List</button>

       </dl>
   </form>

<!--49.Produce a list of Item suggestions for a given customer-->
   <form action="#" method=post>
       <dl >
           <dt><h3>Item Suggestions</h3>
                <dd><button class="pure-button">Item Suggestions</button>

       </dl>
   </form>

<!--50.Retrieve a customers current groups-->
   <form action="#" method=post>
       <dl >
           <dt><h3>Add Employee</h3>
                <dd><button class="pure-button">Add Employee</button>

       </dl>
   </form>

<!--51.Each Customer account,the account history-->
   <form action="#" method=post>
       <dl >
           <dt><h3>Add Employee</h3>
                <dd><button class="pure-button">Add Employee</button>

       </dl>
   </form>

<!--52.Best Seller List of Items-->
   <form action="#" method=post>
       <dl >
           <dt><h3>List of Best Seller Items</h3>
                <dd><button class="pure-button">Best Seller</button>

       </dl>
   </form>

<!--53.Personalized Item Suggestion List-->
   <form action="#" method=post>
       <dl >
           <dt><h3>Personalized List For A Customer</h3>
                <dd><button class="pure-button">Add Employee</button>

       </dl>
   </form>
</div>
{% endblock %}