<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Home Page">
    <title>{% block title %}{{ title }}{% endblock %} - TMI</title>
    <link rel="stylesheet" href="../static/css/pure.css">
    <link rel="stylesheet" href="../static/css/grids-responsive.css">
    <link rel="stylesheet" href="../static/css/font-awesome.css">
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="../static/css/layouts/marketing.css">
    <!--<![endif]-->
</head>
<body>
<div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="/">TMI</a>
        <ul class="pure-menu-list">
            {% if not current_user.is_authenticated %}
            <form class="pure-menu-item" method="POST" action="/login">
                {{ login.hidden_tag() }}
                <fieldset>
                    {{ login.userID }}
                    {{ login.password }}
                    {{ login.login }}
                </fieldset>
            </form>
            {% else %}
                <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
                             <a href="#" class="pure-menu-link">
                                 {{ current_user.userID }}
                             </a>
                    <ul class="pure-menu-children">
                        <li class="pure-menu-item">
                            <a href="/logout" class="pure-menu-link">
                                LogOut
                            </a>
                        </li>
                    </ul>
                </li>
            {% endif %}
            {% if not current_user.is_authenticated %}
                <li class="pure-menu-item"><a href="signup" class="pure-menu-link">Sign Up</a></li>
            {% endif %}
        </ul>
    </div>
</div>
<div class="content-wrapper">
    {% block content %}{% endblock %}
</div>
</body>
</html>
