{% extends "index.html" %}
{% block content %}
    <div class="content pure-u-1-3">

        <h2 class="content-head">Create an account</h2>
        <form class="pure-form pure-form-stacked" method="post" action="/signup">
            <fieldset>
                {{ form.firstname.label }}
                {{ form.firstname }}

                {{ form.lastname.label }}
                {{ form.lastname }}

                {{ form.email.label }}
                {{ form.email }}

                {{ form.username.label }}
                {{ form.username }}

                {{ form.password.label }}
                {{ form.password }}

                {{ form.confirm.label }}
                {{ form.confirm }}

                {{ form.city.label }}
                {{ form.city }}

                {{ form.state.label }}
                {{ form.state }}

                {{ form.submit }}
            </fieldset>
        </form>
    </div>
{% endblock %}