{% extends "index.html" %}
{% block content %}
    <div class="content pure-u-1-3">

        <h2 class="content-head">Create an account</h2>
        <form class="pure-form pure-form-stacked" method="POST" action="/signup">
            <fieldset>
                {{ form.hidden_tag() }}

                {{ form.firstname.label }}
                {% if form.firstname.errors %}
                    {% for error in form.firstname.errors %}
                        {{ error }}
                    {% endfor %}
                {% endif %}
                {{ form.firstname }}

                {{ form.lastname.label }}
                {% if form.lastname.errors %}
                    {% for error in form.lastname.errors %}
                        {{ error }}
                    {% endfor %}
                {% endif %}
                {{ form.lastname }}

                {{ form.email.label }}
                {% if form.email.errors %}
                    {% for error in form.email.errors %}
                        {{ error }}
                    {% endfor %}
                {% endif %}
                {{ form.email }}

                {{ form.username.label }}
                {% if form.username.errors %}
                    {% for error in form.username.errors %}
                        {{ error }}
                    {% endfor %}
                {% endif %}
                {{ form.username }}

                {{ form.password.label }}
                {% if form.password.errors %}
                    {% for error in form.password.errors %}
                        {{ error }}
                    {% endfor %}
                {% endif %}
                {{ form.password }}

                {{ form.confirm.label }}
                {{ form.confirm }}

                {{ form.address.label }}
                {% if form.address.errors %}
                    {% for error in form.address.errors %}
                        {{ error }}
                    {% endfor %}
                {% endif %}
                {{ form.address }}

                {{ form.city.label }}
                {% if form.city.errors %}
                    {% for error in form.city.errors %}
                        {{ error }}
                    {% endfor %}
                {% endif %}
                {{ form.city }}

                {{ form.state.label }}
                {% if form.state.errors %}
                    {% for error in form.state.errors %}
                        {{ error }}
                    {% endfor %}
                {% endif %}
                {{ form.state }}

                {{ form.submit }}
            </fieldset>
        </form>
    </div>
{% endblock %}