{% extends "index.html" %}

{% block content %}
    <div class="content pure-u-3-5 pure-u-md-1-3">
        <div class="pure-menu pure">

            <ul class="pure-menu-list">
                {% for user in users %}
                    <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
                        <a href="#" class="pure-menu-link">
                            {{ user.userID }}
                        </a>
                        <ul class="pure-menu-children">
                            <li class="pure-menu-item">
                                <a id={{ user.userID }} href="/message/{{ user.userID }}" class="pure-menu-link">
                                    Message
                                </a>
                            </li>
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}